.connect-save-button {
  --transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition:
    transform var(--transition),
    --background var(--transition);
}

.connect-save-button ion-icon {
  transition: transform var(--transition);
}

.connect-save-button:hover ion-icon {
  transform: translateY(-2px) rotate(-9deg);
}

.connect-save-button:active {
  transform: scale(0.95);
}

.connect-save-button.is-saved ion-icon {
  animation: bookmark-pop 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

@keyframes bookmark-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5) rotate(10deg);
  }
  100% {
    transform: scale(1.1);
  }
}
