ion-chip.animated-gradient {
  --background: linear-gradient(
    -45deg,
    var(--ion-color-primary),
    var(--ion-color-secondary),
    var(--ion-color-tertiary)
  );
  background-size: 400% 400%;
  animation: gradient-bg 3s ease-in-out infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
